# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VsCode
.vscode/

# mac
.DS_Store

# tmp data
*tmp*.fits

# hdf files
*.hdf5
mocks/mock/datablock_0/*
mocks/mock/datablock_0/cdm_baryon_power_lin/k_h.txt
mocks/mock/datablock_0/cdm_baryon_power_lin/p_k.txt
mocks/mock/datablock_0/cdm_baryon_power_lin/values.txt
mocks/mock/datablock_0/cdm_baryon_power_lin/z.txt
mocks/mock/datablock_0/cdm_baryon_power_nl/k_h.txt
mocks/mock/datablock_0/cdm_baryon_power_nl/p_k.txt
mocks/mock/datablock_0/cdm_baryon_power_nl/values.txt
mocks/mock/datablock_0/cdm_baryon_power_nl/z.txt
mocks/mock/datablock_0/cluster_abundance/values.txt
mocks/mock/datablock_0/cmb_cl/bb.txt
mocks/mock/datablock_0/cmb_cl/ee.txt
mocks/mock/datablock_0/cmb_cl/ell.txt
mocks/mock/datablock_0/cmb_cl/te.txt
mocks/mock/datablock_0/cmb_cl/tt.txt
mocks/mock/datablock_0/correlationfunction/bias.txt
mocks/mock/datablock_0/correlationfunction/hubble_shift.txt
mocks/mock/datablock_0/correlationfunction/k.txt
mocks/mock/datablock_0/correlationfunction/lnm.txt
mocks/mock/datablock_0/correlationfunction/m_h.txt
mocks/mock/datablock_0/correlationfunction/r_sigma.txt
mocks/mock/datablock_0/correlationfunction/rp.txt
mocks/mock/datablock_0/correlationfunction/scale_shift.txt
mocks/mock/datablock_0/correlationfunction/sigma_hh.txt
mocks/mock/datablock_0/correlationfunction/sigma_nfw.txt
mocks/mock/datablock_0/correlationfunction/wp_hh.txt
mocks/mock/datablock_0/correlationfunction/wp_nfw.txt
mocks/mock/datablock_0/correlationfunction/z.txt
mocks/mock/datablock_0/cosmological_parameters/values.txt
mocks/mock/datablock_0/distances/a.txt
mocks/mock/datablock_0/distances/d_a.txt
mocks/mock/datablock_0/distances/d_l.txt
mocks/mock/datablock_0/distances/d_m.txt
mocks/mock/datablock_0/distances/f_ap.txt
mocks/mock/datablock_0/distances/h.txt
mocks/mock/datablock_0/distances/mu.txt
mocks/mock/datablock_0/distances/rs_dv.txt
mocks/mock/datablock_0/distances/values.txt
mocks/mock/datablock_0/distances/z.txt
mocks/mock/datablock_0/growth_parameters/a.txt
mocks/mock/datablock_0/growth_parameters/d_z.txt
mocks/mock/datablock_0/growth_parameters/da.txt
mocks/mock/datablock_0/growth_parameters/f_ap.txt
mocks/mock/datablock_0/growth_parameters/f_z.txt
mocks/mock/datablock_0/growth_parameters/fsigma_8.txt
mocks/mock/datablock_0/growth_parameters/h.txt
mocks/mock/datablock_0/growth_parameters/rs_dv.txt
mocks/mock/datablock_0/growth_parameters/sigma_8.txt
mocks/mock/datablock_0/growth_parameters/z.txt
mocks/mock/datablock_0/kappa/errors.txt
mocks/mock/datablock_0/kappa/gridpoints.txt
mocks/mock/datablock_0/kappa/ivol.txt
mocks/mock/datablock_0/kappa/nregions.txt
mocks/mock/datablock_0/kappa/probs.txt
mocks/mock/datablock_0/kappa/status.txt
mocks/mock/datablock_0/kappa/vals.txt
mocks/mock/datablock_0/mass_function/dndlnmh.txt
mocks/mock/datablock_0/mass_function/dndlnrh.txt
mocks/mock/datablock_0/mass_function/m_h.txt
mocks/mock/datablock_0/mass_function/r_h.txt
mocks/mock/datablock_0/mass_function/values.txt
mocks/mock/datablock_0/mass_function/z.txt
mocks/mock/datablock_0/matter_power_lin/k_h.txt
mocks/mock/datablock_0/matter_power_lin/p_k.txt
mocks/mock/datablock_0/matter_power_lin/values.txt
mocks/mock/datablock_0/matter_power_lin/z.txt
mocks/mock/datablock_0/matter_power_nl/k_h.txt
mocks/mock/datablock_0/matter_power_nl/p_k.txt
mocks/mock/datablock_0/matter_power_nl/values.txt
mocks/mock/datablock_0/matter_power_nl/z.txt
mocks/mock/datablock_0/numbercounts/errors.txt
mocks/mock/datablock_0/numbercounts/gridpoints.txt
mocks/mock/datablock_0/numbercounts/ivol.txt
mocks/mock/datablock_0/numbercounts/nregions.txt
mocks/mock/datablock_0/numbercounts/probs.txt
mocks/mock/datablock_0/numbercounts/status.txt
mocks/mock/datablock_0/numbercounts/vals.txt
mocks/mock/datablock_0/recfast/values.txt
mocks/mock/datablock_0/shear/r.txt
mocks/mock/datablock_0/shear/shear_cen.txt
mocks/mock/datablock_0/shear/theta.txt
mocks/mock/datablock_0/sigmacritinv/r_sigma.txt
mocks/mock/datablock_0/sigmacritinv/sigma_crit_inv.txt
mocks/mock/datablock_0/sigmacritinv/z.txt
mocks/mock/cuda_fevals.csv
mocks/mock/cuda_generators.csv
mocks/mock/cuda_regions.csv
mocks/mock/datablock_0.tgz
mocks/mock/simple_chain.txt
runs/log.txt
runs/simple_chain.txt
runs/slurm-8636520.out
runs/datablock_0/cdm_baryon_power_lin/k_h.txt
runs/datablock_0/cdm_baryon_power_lin/p_k.txt
runs/datablock_0/cdm_baryon_power_lin/values.txt
runs/datablock_0/cdm_baryon_power_lin/z.txt
runs/datablock_0/cdm_baryon_power_nl/k_h.txt
runs/datablock_0/cdm_baryon_power_nl/p_k.txt
runs/datablock_0/cdm_baryon_power_nl/values.txt
runs/datablock_0/cdm_baryon_power_nl/z.txt
runs/datablock_0/cluster_abundance/values.txt
runs/datablock_0/cmb_cl/bb.txt
runs/datablock_0/cmb_cl/ee.txt
runs/datablock_0/cmb_cl/ell.txt
runs/datablock_0/cmb_cl/te.txt
runs/datablock_0/cmb_cl/tt.txt
runs/datablock_0/correlationfunction/bias.txt
runs/datablock_0/correlationfunction/hubble_shift.txt
runs/datablock_0/correlationfunction/k.txt
runs/datablock_0/correlationfunction/lnm.txt
runs/datablock_0/correlationfunction/m_h.txt
runs/datablock_0/correlationfunction/r_sigma.txt
runs/datablock_0/correlationfunction/rp.txt
runs/datablock_0/correlationfunction/scale_shift.txt
runs/datablock_0/correlationfunction/sigma_hh.txt
runs/datablock_0/correlationfunction/sigma_nfw.txt
runs/datablock_0/correlationfunction/wp_hh.txt
runs/datablock_0/correlationfunction/wp_nfw.txt
runs/datablock_0/correlationfunction/z.txt
runs/datablock_0/cosmological_parameters/values.txt
runs/datablock_0/distances/a.txt
runs/datablock_0/distances/d_a.txt
runs/datablock_0/distances/d_l.txt
runs/datablock_0/distances/d_m.txt
runs/datablock_0/distances/f_ap.txt
runs/datablock_0/distances/h.txt
runs/datablock_0/distances/mu.txt
runs/datablock_0/distances/rs_dv.txt
runs/datablock_0/distances/values.txt
runs/datablock_0/distances/z.txt
runs/datablock_0/growth_parameters/a.txt
runs/datablock_0/growth_parameters/d_z.txt
runs/datablock_0/growth_parameters/da.txt
runs/datablock_0/growth_parameters/f_ap.txt
runs/datablock_0/growth_parameters/f_z.txt
runs/datablock_0/growth_parameters/fsigma_8.txt
runs/datablock_0/growth_parameters/h.txt
runs/datablock_0/growth_parameters/rs_dv.txt
runs/datablock_0/growth_parameters/sigma_8.txt
runs/datablock_0/growth_parameters/z.txt
runs/datablock_0/kappa/errors.txt
runs/datablock_0/kappa/gridpoints.txt
runs/datablock_0/kappa/ivol.txt
runs/datablock_0/kappa/nregions.txt
runs/datablock_0/kappa/probs.txt
runs/datablock_0/kappa/status.txt
runs/datablock_0/kappa/vals.txt
runs/datablock_0/likelihoods/values.txt
runs/datablock_0/mass_function/dndlnmh.txt
runs/datablock_0/mass_function/dndlnrh.txt
runs/datablock_0/mass_function/m_h.txt
runs/datablock_0/mass_function/r_h.txt
runs/datablock_0/mass_function/values.txt
runs/datablock_0/mass_function/z.txt
runs/datablock_0/matter_power_lin/k_h.txt
runs/datablock_0/matter_power_lin/p_k.txt
runs/datablock_0/matter_power_lin/values.txt
runs/datablock_0/matter_power_lin/z.txt
runs/datablock_0/matter_power_nl/k_h.txt
runs/datablock_0/matter_power_nl/p_k.txt
runs/datablock_0/matter_power_nl/values.txt
runs/datablock_0/matter_power_nl/z.txt
runs/datablock_0/numbercounts/errors.txt
runs/datablock_0/numbercounts/gridpoints.txt
runs/datablock_0/numbercounts/ivol.txt
runs/datablock_0/numbercounts/nregions.txt
runs/datablock_0/numbercounts/probs.txt
runs/datablock_0/numbercounts/status.txt
runs/datablock_0/numbercounts/vals.txt
runs/datablock_0/priors/values.txt
runs/datablock_0/recfast/values.txt
runs/datablock_0/shear/r.txt
runs/datablock_0/shear/shear_cen.txt
runs/datablock_0/shear/theta.txt
runs/datablock_0/sigmacritinv/r_sigma.txt
runs/datablock_0/sigmacritinv/sigma_crit_inv.txt
runs/datablock_0/sigmacritinv/z.txt
mocks/mock/baseline_data/cdm_baryon_power_lin/k_h.txt
mocks/mock/baseline_data/cdm_baryon_power_lin/p_k.txt
mocks/mock/baseline_data/cdm_baryon_power_lin/values.txt
mocks/mock/baseline_data/cdm_baryon_power_lin/z.txt
mocks/mock/baseline_data/cdm_baryon_power_nl/k_h.txt
mocks/mock/baseline_data/cdm_baryon_power_nl/p_k.txt
mocks/mock/baseline_data/cdm_baryon_power_nl/values.txt
mocks/mock/baseline_data/cdm_baryon_power_nl/z.txt
mocks/mock/baseline_data/cluster_abundance/values.txt
mocks/mock/baseline_data/cmb_cl/bb.txt
mocks/mock/baseline_data/cmb_cl/ee.txt
mocks/mock/baseline_data/cmb_cl/ell.txt
mocks/mock/baseline_data/cmb_cl/te.txt
mocks/mock/baseline_data/cmb_cl/tt.txt
mocks/mock/baseline_data/correlationfunction/bias.txt
mocks/mock/baseline_data/correlationfunction/hubble_shift.txt
mocks/mock/baseline_data/correlationfunction/k.txt
mocks/mock/baseline_data/correlationfunction/lnm.txt
mocks/mock/baseline_data/correlationfunction/m_h.txt
mocks/mock/baseline_data/correlationfunction/r_sigma.txt
mocks/mock/baseline_data/correlationfunction/rp.txt
mocks/mock/baseline_data/correlationfunction/scale_shift.txt
mocks/mock/baseline_data/correlationfunction/sigma_hh.txt
mocks/mock/baseline_data/correlationfunction/sigma_nfw.txt
mocks/mock/baseline_data/correlationfunction/wp_hh.txt
mocks/mock/baseline_data/correlationfunction/wp_nfw.txt
mocks/mock/baseline_data/correlationfunction/z.txt
mocks/mock/baseline_data/cosmological_parameters/values.txt
mocks/mock/baseline_data/distances/a.txt
mocks/mock/baseline_data/distances/d_a.txt
mocks/mock/baseline_data/distances/d_l.txt
mocks/mock/baseline_data/distances/d_m.txt
mocks/mock/baseline_data/distances/f_ap.txt
mocks/mock/baseline_data/distances/h.txt
mocks/mock/baseline_data/distances/mu.txt
mocks/mock/baseline_data/distances/rs_dv.txt
mocks/mock/baseline_data/distances/values.txt
mocks/mock/baseline_data/distances/z.txt
mocks/mock/baseline_data/growth_parameters/a.txt
mocks/mock/baseline_data/growth_parameters/d_z.txt
mocks/mock/baseline_data/growth_parameters/da.txt
mocks/mock/baseline_data/growth_parameters/f_ap.txt
mocks/mock/baseline_data/growth_parameters/f_z.txt
mocks/mock/baseline_data/growth_parameters/fsigma_8.txt
mocks/mock/baseline_data/growth_parameters/h.txt
mocks/mock/baseline_data/growth_parameters/rs_dv.txt
mocks/mock/baseline_data/growth_parameters/sigma_8.txt
mocks/mock/baseline_data/growth_parameters/z.txt
mocks/mock/baseline_data/kappa/errors.txt
mocks/mock/baseline_data/kappa/gridpoints.txt
mocks/mock/baseline_data/kappa/ivol.txt
mocks/mock/baseline_data/kappa/nregions.txt
mocks/mock/baseline_data/kappa/probs.txt
mocks/mock/baseline_data/kappa/status.txt
mocks/mock/baseline_data/kappa/vals.txt
mocks/mock/baseline_data/mass_function/dndlnmh.txt
mocks/mock/baseline_data/mass_function/dndlnrh.txt
mocks/mock/baseline_data/mass_function/m_h.txt
mocks/mock/baseline_data/mass_function/r_h.txt
mocks/mock/baseline_data/mass_function/values.txt
mocks/mock/baseline_data/mass_function/z.txt
mocks/mock/baseline_data/matter_power_lin/k_h.txt
mocks/mock/baseline_data/matter_power_lin/p_k.txt
mocks/mock/baseline_data/matter_power_lin/values.txt
mocks/mock/baseline_data/matter_power_lin/z.txt
mocks/mock/baseline_data/matter_power_nl/k_h.txt
mocks/mock/baseline_data/matter_power_nl/p_k.txt
mocks/mock/baseline_data/matter_power_nl/values.txt
mocks/mock/baseline_data/matter_power_nl/z.txt
mocks/mock/baseline_data/numbercounts/errors.txt
mocks/mock/baseline_data/numbercounts/gridpoints.txt
mocks/mock/baseline_data/numbercounts/ivol.txt
mocks/mock/baseline_data/numbercounts/nregions.txt
mocks/mock/baseline_data/numbercounts/probs.txt
mocks/mock/baseline_data/numbercounts/status.txt
mocks/mock/baseline_data/numbercounts/vals.txt
mocks/mock/baseline_data/recfast/values.txt
mocks/mock/baseline_data/shear/r.txt
mocks/mock/baseline_data/shear/shear_cen.txt
mocks/mock/baseline_data/shear/theta.txt
mocks/mock/baseline_data/sigmacritinv/r_sigma.txt
mocks/mock/baseline_data/sigmacritinv/sigma_crit_inv.txt
mocks/mock/baseline_data/sigmacritinv/z.txt
runs/cuda_fevals.csv
runs/cuda_generators.csv
runs/cuda_regions.csv
runs/datablock_0.tgz
output/demo5.txt
